/*GLOBAL STYLES*/


main {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #eaeaea;
}

footer {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

/*VARIABLES*/
//couleurs//
$violet: #9356dc;
$violetclair: #f4ecfc;
$rose: #ff79da;
$vertclair: #99e2d0;
$vertfonce: #208e6f;
$grisclair: #f6f6f6;
$grisfonce: #eaeaea;
$gris: grey;
$blanc: white;
$noir: black;
$noirfooter: #353535;
