/*header*/
#logo {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  img {
    width: 160px;
  }
}
/*localisation*/
#localisation {
  background-color: #eaeaea;
  height: 45px;
  display: flex;
  justify-content: center;
}
.infos {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  width: 160px;
}
.lieu {
  font-size: medium;
  background-color: #eaeaea;
  border: none;
  padding-left: 10px;
  &::placeholder {
    color: black;
  }
}

/*presentation*/
#presentation {
  padding: 40px;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-top: 10px;
  }
}

.boutonrestaurant {
  margin-top: 20px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  border: none;
  height: 50px;
  width: 215px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  button {
    background: none;
    color: white;
    font-size: medium;

    border: none;
  }
}

/*fonctionnement*/

#fonctionnement {
  background-color: white;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    margin-bottom: 20px;
  }
}

.rond {
  background-color: #9356dc;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 30px;
  color: white;
  margin-right: 25px;
}

.icone2 {
  color: grey;
  margin-right: 20px;
  font-size: large;
}

.parent {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  .unit {
    p {
      font-size: medium;
    }

    button {
      border: none;
      border-radius: 20px;
      width: 90%;
      display: flex;
      align-items: center;
      height: 65px;
    }
  }
}

/*restaurants*/

#restaurants {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eaeaea;
  h2 {
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.allrestau {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
  padding: 20px;
}

.carte {
  width: 100%;
  height: 240px;
  a {
    text-decoration-line: none;
    color: black;
  }
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
}

.figure {
  display: FLEX;
  position: relative;
  flex-direction: row-reverse;

  h5 {
    position: absolute;
    margin-right: 20px;
    margin-top: 20px;
    background: #99e2d0;
    color: #208e6f;
    width: 85px;
    height: 25px;
    text-align: CENTER;
    padding-top: 5px;
  }
}

.legende {
  display: FLEX;
  justify-content: space-between;
  background: white;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
}

.coeur {
  i {
    font-size: x-large;
  }
}
