/*global styles*/
main {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: #eaeaea;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
}

* {
  margin: 0px;
  padding: 0px;
}
